.comments-main{
    display: flex;
    align-content: center;
    justify-content: center;
}

.comment-list{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 70%;
    margin: 5%;
    max-height: 600px;
    background-color: #c4e3f3;
    border: solid 1px black;
}

.comment-list ul{
    list-style: none outside none;
}

.comments-item{
    margin: 10px 10px 10px 0;
}

.comments-item-control{

}

.comments-text{
    padding: 10px 10px 5px 10px;
    background-color: lightgoldenrodyellow;
    min-height: 50px;
}

.comment-input input{
    margin-top: 5px;
    width: 100%;
}

.vis{
    display: block;
}

.hid{
    display: none;
}

.comments-main-head textarea{
    display: block;
    width: 70%;
    resize: vertical;
    max-height: 100px;
    min-height: 50px;
}

#list li div ul li div ul li div ul li div ul li div ul li div .comments-item-control{
    display: none;
}